body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #43e97b, #38f9d7);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  margin: 0;
}

.container {
  background: white;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

h2 {
  color: #00b97f;
  margin-bottom: 20px;
}

input {
  width: 80%;
  padding: 10px;
  border: 2px solid #00b97f;
  border-radius: 8px;
  outline: none;
  font-size: 16px;
}

button {
  margin-top: 15px;
  background-color: #00b97f;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.3s;
}

button:hover {
  background-color: #009267;
}

#resultado {
  margin-top: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}